VITE_APP_ENV=development
VITE_NIMIQ_NETWORK=TestAlbatross
VITE_EVM_NETWORK=Sepolia
VITE_RPC_URL=https://rpc.nimiqwatch.com
VITE_EXPLORER_URL=https://albatross.nimiqscan.com
VITE_COINGECKO=https://api.coingecko.com/api/v3
